a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #CCCCCC;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #C8C8C8;
}

.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #FFFFFF;
	padding: 5px;
	font-weight: normal;
	text-align: justify;
}
.texto_internas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	color: #000000;
	padding: 5px;
	font-weight: normal;
	text-align: justify;
}
.barras_scroll {
	SCROLLBAR-FACE-COLOR: #0066CC;	
	SCROLLBAR-HIGHLIGHT-COLOR: #009966;
	SCROLLBAR-SHADOW-COLOR: #eeeeee;
	SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
	SCROLLBAR-ARROW-COLOR:  #ffffff;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #333333;
}.texto_formulario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	background-color: #006699;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	color: #FFFFFF;
}
.titulo_formulario {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	/*background-color: #00509F;*/
	background-color: #D00;
	/*background-image:url("menu_people_files\css3menu1\mainbk1.png");background-repeat:repeat;background-position:0 100px; */
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	color: #fff;
}
.campos_formulario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #00509F;
}
.mapa_tercer_nivel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	background-color: #006699;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 20px;
	color: #FFFFFF;
	list-style-type: none;
}
.botones {
	background-color:#D00;
	text-align:center;
	text-transform:uppercase;
	font:Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-variant: normal;
	}
	
	
	
	//Hojas de estilo en cascada para mostrar el contenido de una o varias páginas//
