ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#dedede;border-width:1px;border-style:solid;/*REBORDE MENU INICIAL*/border-color:#D00;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;/*COLOR FONDO PARTE DESPLEGLBLE1*/background-color:#D00;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;/*REBORDE SUBMENU INICIAL*/border-color:#D00;padding:0 10px 10px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
	float:left;
	background-color: #F6F6FC;
}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 13px Trebuchet MS;/*COLOR LETRA MENU PRINCIPAL1*/color:#FFF;text-shadow:#000 0 0 1px;cursor:pointer;padding:10px;/*COLOR FONDO PARTE INICIAL1*/background-color:#D00;/*background-image:url("mainbk.png");*/background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;/*COLOR LINEAS MENU1*/border-color:#D00;}
ul#css3menu1 ul li{
	float:none;margin:10px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;/*COLOR FONDO PARTE DESPLEGLBLE1*/background-color:#DOO;background-image:none;border-width:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:14px Tahoma;/*COLOR LETRA PARTE DESPLEGLBLE1*/color:#FFF;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	/*CLOR FONDO MENU PRINCIPAL2*/background-color:#FFF;/*COLOR LINEAS MENU2*/border-color:#DOO;border-style:solid;/*LETRA MENU PRICINPAL2*/font:bold 12px Trebuchet MS;color:#D00;/*BORDE LETRA TODO EL MENU*/text-shadow:#FFF 0 0 1px;/*background-image:url("mainbk.png");*/background-position:0 100px;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	/*COLOR FONDO PARTE DESPLEGLBLE2*/background-color:#FFF;background-image:none;/*COLOR LETRA SUB MENU2*/font:bold 13px Trebuchet MS;color:#D00;text-decoration:none;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
ul#css3menu1 li.topfirst>a{
	border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:0px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu1 li.toplast>a{
	border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;}
