@charset "utf-8";
/* CSS Document */
.btnbuscar
{
	background-position:center;
	background-image:url(../img/find.png);
	background-color:inherit; 
	background-repeat:no-repeat; 
	width:50px; 
	height:50px; 
	border-radius:100%; 
	color:transparent;
}
.btnbus
{
	background-position:center;
	background-image:url(../img/finds.png);
	background-color:inherit; 
	background-repeat:no-repeat; 
	width:48px; 
	height:48px; 
	border-radius:100%; 
	color:transparent;
}
.btn_exp
{
	background-position:center;
	background-image:url(../img/excel.png);
	background-color:inherit; 
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	border-radius:100%;
	color:transparent;
}
.btn_ing
{
	background-position:center;
	background-image:url(../img/plus.png);
	background-color:inherit; 
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	border-radius:100%;
	color:transparent;
}
.btn_G
{
	 background-position:center;
	 background-image:url(../img/orange_folder_cd.png); 
	 background-color:inherit; 
	 background-repeat:no-repeat;
	 width:120px; 
	 height:35px; 
	 border-radius:5px;
	 color:transparent;
}
.btn_GRA
{
	 background-position:center;
	 background-image:url(../img/report.png);
	 background-color:inherit; 
	 background-repeat:no-repeat;
	 width:50px; 
	 height:50px; 
	 color:transparent;
}