@charset "utf-8";
/* CSS Document */
table tr:nth-child(odd) 
{
	font-size: 90%;
	text-transform:uppercase;
	font-family: "Trebuchet MS", cursive;
	background-color: #C07171;
}

table tr:nth-child(even) 
{ 
	font-size: 90%;
	text-transform:uppercase;
	font-family: "Trebuchet MS", cursive;
	padding: 8px;     
	background: #f8fbfc; 
}
.titulo 
{
	font-family: "Trebuchet MS", cursive;
	font-size: 90%;
	color: #006699;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #C8C8C8;
}

.botones 
{
	background-color:#C40000;
	text-align:center;
	text-transform:uppercase;
	font:"Trebuchet MS", cursive;
	font-size: 90%;
	color: #FFFFFF;
	font-weight: bold;
	font-variant: normal;
}
.Estilo1 {
	font-size: 90%;
	text-transform:uppercase;
	font-family:"Trebuchet MS", cursive;
	border-top-left-radius: 0px ;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 00px;	
}
.Estilo11 {
	font-size: 100%;
	text-transform:uppercase;
	color: #FFF	;
}
th
{
	padding:3px;
	width:auto;
}
td
{
	width:auto;
	padding:3px;
}
a
{
	font-family:"Trebuchet MS", cursive;
	color:#000;
	font-weight:bold; 
	font-size:90%; 
}


