ul#css3menu3,ul#css3menu3 ul{
	margin:0;list-style:none;padding:0;background-color:#CA0000;background-repeat:repeat;border-width:1px;border-style:solid;border-color:#B4B4B4;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;}
ul#css3menu3 ul{
	display:none;position:absolute;left:100%;top:0;background-color:#DDDDDD;background-image:url("subbk.png");border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;padding:0;} 
ul#css3menu3 li:hover>*{
	display:block;} 
ul#css3menu3 li{
	position:relative;display:block;white-space:nowrap;font-size:0;} 
ul#css3menu3 li:hover{
	z-index:1;}
ul#css3menu3{
	font-size:0;z-index:999;position:relative;display:block;float:left;padding:0 10px 10px;} 
ul#css3menu3>li{
	margin:6px 0 0;}
ul#css3menu3 a:active, ul#css3menu3 a:focus{
	outline-style:none;}
ul#css3menu3 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 2px "Comic Sans MS";color:#fff;cursor:pointer;padding:5px 80px;background-color:;background-repeat:repeat;border-width:0;border-style:solid;border-color:transparent;}
ul#css3menu3 ul li{
	float:none;margin:0;}
ul#css3menu3 ul a{
	text-align:;}
ul#css3menu3 li:hover>a,ul#css3menu3 li a.pressed{
	background-color:#fff;border-color:#FFF;border-style:solid;color:#CA0000;text-decoration:none;} 
ul#css3menu3 img{
	border:none;vertical-align:middle;margin-right:8px;}
ul#css3menu3 li.topmenu>a{
	background-color:;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:transparent;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;font:15px "Comic Sans MS",cursive;color:#DD;text-decoration:none;text-shadow:0 1px 1px #000000;}
/*ul#css3menu3 li.topmenu:hover>a,ul#css3menu3 li.topmenu a.pressed{
	background-color:#096;background-image:url("mainbk1.png"); border-style:solid;border-color:#F8F8F8;color:#FFF;text-decoration:none;text-shadow:0 1px 0 #000;}*/
ul#css3menu3 li.subfirst>a{
	border-radius:20px 20px 0 0;-moz-border-radius:20px 20px 0 0;-webkit-border-radius:20px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu3 li.sublast>a{
	border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:20px;-webkit-border-bottom-left-radius:20px;}
